
h2{
    padding:20px;
}
p{
    margin-left: 20px;
    
}
form{
    margin-top: 10px;;
}
.form-group{
    padding:10px;
}
h3{
    padding-top: 20px;

}

.navbar-brand{
    padding-left: 10px;;
}
fe{
    height:300px;
}